<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QuickComp</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        Имя пользователя: <input type="text" name="username"><br><br>
        Пароль: <input type="password" name="password"><br><br>
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <input type="submit" value="Вход"/>
    </form>
    <a th:href="@{/registration}">Зарегистрироваться</a>
</body>
</html>