<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QuickComp</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="wrapper">
    <header>

        <img id="imgh" src="../photo-1593640495253-23196b27a87f.jpg" alt="comp" width="300">
        <h1>QuickComp</h1>
    </header>

    <nav>
        <a class="menu" href="/">Категории</a>
        <a class="menu" href="/">Продукты</a>
        <a class="menu" href="#">Заказы</a>
        <a class="menu" href="#">Доставка</a>
        <a class="menu" href="#">О нас</a>
    </nav>

    <div class="main">
        <button id="delete" type="submit" class="button_menu">Удалить</button>
        <button id="asc" type="button" class="button_menu">сортировать по возрастанию</button>
        <button id="desc" type="button" class="button_menu">сортировать по убыванию</button>
        <input type="text" id="filter" placeholder="Фильтр">
        <div th:if="${authorized}" class="button_menu">
            <p th:text="${authorized.getUsername()}" class="button_menu"></p>
            <form th:action="@{/logout}" method="post"  class="button_menu">
                <input type="submit" value="выйти"  class="button_menu">
            </form>
        </div>
        <div th:unless="${authorized}" class="button_menu">
            <a href="login.html">Войти</a>
        </div>

        <div class="dynTa"></div>
        <aside>
            <form id="form">
                <fieldset name="categoryFields">
                    <button type="button" class="se" id="send">Отправить</button>
                    <button type="submit" class="se" id="edit">Изменить</button>
                </fieldset>
            </form>
        </aside>

    </div>

    <div class="paging"></div>

</div>
<footer class="footer">
    <div>
        <p>Наши соцсети:</p>
        <a href="vk.com"><img class="imgf" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/1200px-VK_Compact_Logo_%282021-present%29.svg.png" alt="vk"></a>
        <a href="intagram.com"><img class="imgf" src="https://play-lh.googleusercontent.com/h9jWMwqb-h9hjP4THqrJ50eIwPekjv7QPmTpA85gFQ10PjV02CoGAcYLLptqd19Sa1iJ" alt="instagram"></a>
        <div class="afooter">
            <a href="#">О безопасности ваших персональных данных</a>|
            <a href="#">Розничные магазины </a>|
            <a href="#">Copyright © 2010-2021 QuickComp</a>
        </div>
    </div>
</footer>
<script src="../js/jquery-3.6.0.min.js"></script>
<script>

    function refreshForm() {
        if ($('fieldset input').length)
            Array.from($('input')).forEach(e => e.remove())
        if ($('fieldset label').length)
            Array.from($('label')).forEach(e => e.remove())
        if ($('fieldset textarea').length)
            Array.from($('textarea')).forEach(e => e.remove())
        if ($('fieldset select').length)
            Array.from($('select')).forEach(e => e.remove())
    }
    function createTable(header){
        $('<table class="tab" border="2"></table>').appendTo('.dynTa');
        $('<tr class="tabhead"></tr>').appendTo('.tab');
        header.forEach(head => {
            let th = $('<th></th>').appendTo('.tabhead');
            th.text(head.name);
        });
    }

    function sending(url, temp, headers, contents) {
        let maxId = 0;
        contents.forEach(elem => {
            if (elem.id > maxId)
                maxId = elem.id;
        })
        temp.id = ++maxId;
        $.ajax({
            url: `api/${url}/post`,
            type: 'POST',
            dataType: 'json',
            cache: false,
            contentType: 'application/json',
            data: JSON.stringify(temp),
            success: (e) => {
                e.request = '';
                console.log(temp);
                contents.push(temp);
                $('.tab').remove();
                createTable(headers);
            }
        })
    }

    function deleting(url, id, idForChanges, headers, contents) {
        if (id === null || id === undefined) return;
        let result = confirm('Удалить выбранную строку ?');
        if (!result) {
            $('.forColor').removeClass('forColor');
            return;
        }
        $.ajax({
            url: `api/${url}/delete/${idForChanges}`,
            method: 'DELETE',
            dataType: 'json',
            success: () => {
                let formFields = $('form input');
                Array.from(formFields).forEach(e => {
                    e.value = '';
                })
                contents.splice(id, 1);
                $('#edit').hide();
                $('#send').show();
                $('.tab').remove();
                createTable(headers);
            }
        })
    }

    function editing(url, temp, id, idForChanges, headers, contents) {
        temp.id = id;
        $.ajax({
            url: `api/${url}/update/${idForChanges}`,
            method: 'PUT',
            dataType: 'json',
            data: JSON.stringify(temp),
            cache: false,
            contentType: 'application/json',
            success: () => {
                $('#edit').hide();
                $('#send').show();
                contents[id] = temp;
                $('.tab').remove();
                createTable(headers);

            }
        })
    }

    function ascing(headers, contents, filteredField) {
        contents.sort((a, b)=> {
            let f = filteredField;
            if (a[filteredField].charAt(0) === b[filteredField].charAt(0)) return 0
            else if (a[filteredField].charAt(0) > b[filteredField].charAt(0)) return 1
            else return -1
        })
        $('.tab').remove();
        createTable(headers);
    }
    function descing(headers, contents, filteredField) {
        contents.sort((a, b)=> {
            if (a[filteredField].charAt(0) === b[filteredField].charAt(0)) return 0
            else if (a[filteredField].charAt(0) < b[filteredField].charAt(0)) return 1
            else return -1
        })
        $('.tab').remove();
        createTable(headers);
    }

    if( $('.tab').length)
        $('.tab').remove();
    if ($('#navigation'))
        $('#navigation').remove()
    let a = document.createElement('script')
    a.setAttribute('id', 'navigation');
    a.setAttribute('src', '../js/order_scr.js')
    document.getElementsByTagName('head')[0].appendChild(a);

</script>
</body>
</html>