<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"
          th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>QuickComp</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="wrapper">
    <header>
        <img id="imgh" src="../images/photo-1593640495253-23196b27a87f.jpg" alt="comp" width="300">
        <h1>QuickComp</h1>
    </header>

    <nav>
        <a class="menu" href="/" id="category" >Категории</a>
        <a class="menu" href="#" id="product">Продукты</a>
        <a class="menu" href="/order">Заказы</a>
        <a class="menu" href="#">Доставка</a>
        <a class="menu" href="#">О нас</a>
    </nav>

    <div class="main">
        <button id="delete" type="submit" class="button_menu">Удалить</button>
        <button id="asc" type="button" class="button_menu">сортировать по возрастанию</button>
        <button id="desc" type="button" class="button_menu">сортировать по убыванию</button>
        <input type="text" id="filter" placeholder="Фильтр">
        <div th:if="${authorized}" class="button_menu">
            <p th:text="${authorized.getUsername()}" class="button_menu"></p>
            <form th:action="@{/logout}" method="post"  class="button_menu">
                <input type="submit" value="выйти"  class="button_menu">
            </form>
        </div>
        <div th:unless="${authorized}" class="button_menu">
            <a th:href="@{/login}">Войти</a>
        </div>
        <div class="dynTa"></div>
        <aside>
            <form id="form">
                <fieldset name="categoryFields">
                    <button type="button" class="se" id="send">Отправить</button>
                    <button type="submit" class="se" id="edit">Изменить</button>
                </fieldset>
            </form>
        </aside>

    </div>

    <div class="paging"></div>

</div>
<footer class="footer">
    <div>
        <p>Наши соцсети:</p>
        <a href="vk.com"><img class="imgf" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/1200px-VK_Compact_Logo_%282021-present%29.svg.png" alt="vk"></a>
        <a href="intagram.com"><img class="imgf" src="https://play-lh.googleusercontent.com/h9jWMwqb-h9hjP4THqrJ50eIwPekjv7QPmTpA85gFQ10PjV02CoGAcYLLptqd19Sa1iJ" alt="instagram"></a>
        <div class="afooter">
            <a href="#">О безопасности ваших персональных данных</a>|
            <a href="#">Розничные магазины </a>|
            <a href="#">Copyright © 2010-2021 QuickComp</a>
        </div>
    </div>
</footer>
<script src="../js/comnon.js"></script>
</body>
</html>